name: Pull Request

on:
  pull_request:

jobs:
  build:
    name: PHP ${{ matrix.php-versions }} Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        operating-system: [ ubuntu-22.04 ]
        php-versions: ['7.4', '8.3']
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: PHP Version
        run: php -v

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: |
          composer self-update
          composer validate
          composer install --prefer-dist --no-progress

      - name: Test Suite + Static Analysis
        run: |
          composer analyze
          echo ${{ matrix.php-versions }}
  no_dev_mode:
    name: Test with --no-dev
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: |
          composer self-update
          composer validate
          composer install --prefer-dist --no-progress --no-dev
          composer require guzzlehttp/guzzle

      - name: Test
        env:
          CARAPI_TOKEN: ${{ secrets.CARAPI_TOKEN }}
          CARAPI_SECRET: ${{ secrets.CARAPI_SECRET }}
        run: |
          php tests/no_dev_test.php

  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'

      - name: Install dependencies
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: |
          composer self-update
          composer validate
          composer install --prefer-dist --no-progress

      - name: Code Coverage
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          composer global require php-coveralls/php-coveralls
          export CODECOVERAGE=1 && vendor/bin/phpunit --coverage-clover=clover.xml
          php-coveralls --coverage_clover=clover.xml -v